@import url("http://fonts.googleapis.com/css?family=Oxygen:400,700,300");

$body-bg:                    #ecf0f1;
$font-family-sans-serif:     'Oxygen', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$navbar-height:              45px;
$navbar-default-bg:          white;
$navbar-default-brand-color: #c0392b;
$brand-primary:              #c0392b;
$jumbotron-bg:               white;

@import 'bootstrap';

.center {
     text-align: center;
}

.navbar-brand {
     font-weight: bold;
}

body {
    background: url('ineke.jpg') no-repeat top center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color:#333;
}

/* Boxes for overview */

#articles {
  margin: 0 auto;
  width: 80%;
}

.box {
  margin: 5px;
  width: 250px;
  background: white;
}

.box img {
  width: 100%;
}